Logs

logs
.log
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

Зависимости и сборка

node_modules
dist
dist-ssr
*.local

Секретные ключи (ВАЖНО!)

.env

Visual Studio (системные папки)

.vs/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
.ntvs
*.njsproj
*.sln
*.sw?